body {
 
  font-family: "comic sans ms", sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
 background: #ff6800 url("img/i2.jpg") repeat-y 50%;

}

h1{
font-family: "comic sans ms", sans-serif;
  font-size: 36px;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
}
h2{
font-family: "comic sans ms", sans-serif;
  font-size: 30px;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
}
h3{
font-family: "comic sans ms", sans-serif;
  font-size: 24px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
}
h4{
font-family: "comic sans ms", sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
}

nav.main-menu ul {
  margin: 0;
  margin-left: 600px;
  padding: 0;
  list-style: none;
}

.main-menu li {
  display: inline-block;
  margin-right: 8em;
  text-align: center;
}



nov.cont ul {
  margin: 0;
  margin-left: 400px;
  padding: 0;
  list-style: none;
}
.cont li{
  display: inline-block;
  margin-right: 6em;
}