.scroll {
    width:250px;
    height:300px;
    background: #fff;
    border: 2px solid gray;
    overflow-y: scroll;
  }

table {
    background: #828a3396;
    border: 1px solid gray;
    text-align: center;
    margin: 0 auto;
  }