.input-number {
    width: 40px;
}

.output-numberx1 {
    background-color: orange;
    width: 40px;
}

.output-numberx2 {
    background-color: green;
    width: 40px;
}

.output-numberx3 {
    background-color: blue;
    width: 40px;
}